<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="3">
	<listeners>
		<listener class-name="com.ktn.listeners.ListenerClass" />
		<listener class-name="com.ktn.listeners.MethodInterceptor" />
		<listener
			class-name="com.ktn.listeners.AnnotationTransformer" />
	</listeners>

	<test thread-count="4" name="Test" parallel="methods">
		<classes>
			<class name="com.ktn.tests.NopCommerceDemoTest"/>
			<!--<class name="com.ktn.tests.AmazonDemoTest" /> -->

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->